<head>
    <title>New Booking</title>
</head>
<body>
    <%= form_for @booking do | form | %>
        <%= form.label :name %><br>
        <%= form.text_field :name %><br><br>
        <%= form.label :service %><br>
        <%= form.text_field :service %><br><br>
        <%= form.label :date %><br>
        <%= form.date_field :date %><br><br>
        <%= form.label :time_start %><br>
        <%= form.time_field :time_start %><br><br>

        <%= form.submit "Submit" %>
    <% end %>
        
</body>