<head>
    <title>New Booking</title>
</head>
<body>
    <%= form_for @booking do | form | %>
        <%= form.label :name %><br>
        <%= form.text_field :name %><br><br>
        <%= form.label :service %><br>
        <%= form.text_field :service %><br><br>
        <%= form.label :start_time %><br>
        <%= form.datetime_local_field :start_time %><br><br>

        <%= form.submit "Submit" %>
    <% end %>
        
</body>